html {
  box-sizing: border-box;
  background: url(../assets/pencils.jpg) no-repeat center center fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  font-family: 'Galada', cursive;
}

h3 {
  font-size: 2rem;
  margin: 10px;
}

select {
  width: 20%;
  margin: 10px;
  height: 50px;
}

img {
  height: 55px;
}

header {
  display: flex;
  justify-content: center;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
}

.circle-display {
  display: flex;
}

.projects-container {
  display: flex;
  text-align: center;
}

.card-display {
  margin: 10px
}

.color-swatch {
  height: 275px;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: flex-end;
  font-size: 2rem;
  color: rgb(255, 255, 255, .7);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.swatch-container {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.palette-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generator-btn {
  margin: 10px;
  height: 50px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  color: #6f6f6f;
}

.save-form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palette-input {
  height: 50px;
  width: 30%;
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.save-palette-btn {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 20%;
}

.projects-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form {
  width: 80%;
  display: flex;
  justify-content: center;
}

.project-input {
  height: 50px;
  width: 30%;
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.create-project-btn {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 20%;
}